/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.03.2017, 10:49:36
    Author     : simsonic
*/

body {
   width:        1000px;
   border:       #666666 thin ridge;
   margin-left:  auto;
   margin-right: auto;
}

div.container {
   background:   #cccccc;
   padding:      10px;
}

a {
   color: deepskyblue;
   text-decoration: none;
}

.resulttable {
   width: 100%
}

.resulttable td {
   color: #330033;
}

p.notfound {
   color: red;
}

.pageButton { 
   background:      none;
   border:          none;
   color:           #0066ff;
   text-decoration: underline;
   cursor:          pointer;
}
